/* navbar */
.navbar ul {
  display: flex;
  justify-content: flex-end;
}

a, ul {
  text-decoration: none;
  list-style: none;
}

a:hover {
  font-weight: bold;
  color: black;
}

/* Body */
.headings {
  background-color: lightblue;
  padding: 0.5rem;
}

p {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

.sidebar {
  float: right;
  border: 1px solid black;
  padding: 0.5rem;
  background-color: lightgray;
}
/* Forms */
.info-form {
  border: 1px solid black;
  padding: 0.5rem;
  width: 72%;
  height: 14.6rem;
  background-color: lightgray;
}

.form-group {
  padding: 0.3rem;
}
